/*Laptop*/
@media only screen and (max-width:1440px) {
.divided-shape-customer-service .elementor-widget-container{
	margin-right:-117px !important;
}
}
/*Laptop*/
@media only screen and (max-width:1366px) {
   .wicket-main-menu li a {
    padding: 17px 26px;
    font-size: 18px;
}
.right-button a {
    font-size: 18px;
}
.wicket-main-menu > .menu-item-has-children:after {
    right: -10px;
}
}
/*Laptop*/
@media only screen and (max-width:1280px) {
 .wicket-main-menu li a {
    padding: 17px 16px;
    font-size: 18px;
}
.divided-shape-customer-service .elementor-widget-container{
	margin-right:0px !important;
}
.footer-copyright-widgets1 a {
    font-size: 18px;
    padding: 11px 13px;
}
.footer-copyright-widgets1 .textwidget {
    gap: 15px;
}
.head-right-button {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
}
.menu-wrap .full-wrap ul li a {
    color: #fff;
    padding: 0 8px;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    display: block;
}
.menu-wrap .full-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1245px;
}
}
/*Tab Landscape*/
@media only screen and (max-width:1024px) {
.menu-wrap {
    display: none;
}
  .agends-menubar ul {
    padding-left:0px;
    display: flex;
    flex-wrap: wrap;
    gap:0px 27px;
    justify-content: center;
    border-left: 0px solid rgba(0, 0, 0, 0.2);
}
.agends-menubar ul li.active a:before, 
.agends-menubar ul li a:hover:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #FEBE1E;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.agends-menubar ul li a {
    font-size: 14px;
    font-weight: 600;
}
.footer-copyright-widgets1 .textwidget p:first-child {
    width: 100%;
    text-align: center;
}
.footer-copyright-widgets1 a {
    font-size: 17px;
    padding: 11px 14px;
}
.agends-menubar ul li a {
    font-size: 17px;
}
.number-colume-border:before,
.number-colume-border:after,
.body-number-step-section .number-step-section:last-child .number-colume-border:before,
.body-number-step-section .number-step-section:last-child .number-colume-border:after,
.body-number-step-section .number-step-section:first-child .number-colume-border:before,
.body-number-step-section .number-step-section:first-child .number-colume-border:after {
    left: 35% !important;
}	
.agent-left-section {
    width:100%;
}
.velki-agent-card {
    flex-direction: row !important;
}
.agent-left-section {
    width: 40%;
}
.agent-left-section {
    flex-direction: row !important;
}
.agent-info {
    display: flex;
    text-align: left;
}
}
/*Tab Portrait*/
@media only screen and (max-width:991px) {

.new-account-widgets .title-content {
    margin-bottom: 11px;
    font-size: 25px;
}
.wicket-footer ul li a {
    font-size: 17px;
}
.footer-colume-3 {
    padding-left: 13px;
}
.list-people-box .elementor-widget-container{
	overflow-x:auto;
}

.wicket-footer {
    min-height: 400px;
    padding: 69px 0px 0px 0px;
}
.list-box .social-connection-group .copy-btn{
	min-width: 131px;
}
.social-connection-group span.value-2 {
    min-width: 248px;
}
.social-connection-group .group-3 span.value-2, 
.list-box .social-connection-group .group-3 span.value-2 {
    font-size: 15px;

}
.list-box .social-connection-group .copy-btn {
    padding-left: 8px;
}
.social-connection-group span.value-2 {
    min-width: 170px;
}
.social-connection-group .copy-btn {
    padding-left:20px;
    min-width: 150px;
}
.social-connection-group span {
    font-size: 12px;
}
.search-results .container {
    max-width: 100%;
}
.number-colume-border:before,
.number-colume-border:after,
.body-number-step-section .number-step-section:last-child .number-colume-border:before,
.body-number-step-section .number-step-section:last-child .number-colume-border:after,
.body-number-step-section .number-step-section:first-child .number-colume-border:before,
.body-number-step-section .number-step-section:first-child .number-colume-border:after {
    left:50% !important;
}	
.footer-colume-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer-colume-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer-colume-3 {
    padding-left:20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer-colume-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
body .velki-blog-listing-wrapper {
    padding: 0px 0px !important;
}
.blog-share-section {
    flex-direction: row !important;
    align-items: flex-start;
    align-items: center;
}
}
/*Tab Portrait*/
@media only screen and (max-width:768px) {
	.blog-share-section {
    flex-direction: row !important;
    align-items: flex-start;
    align-items: center;
}
.blog-share-section {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 11px;
}
}
/*Mobile View Start*/
@media only screen and (max-width:767px) {
.wicket-navbar {
    min-height: 48px;
}
.head-right-button {
    margin-right: 15px;
}
.gallery-section-box h3.elementor-heading-title {
    font-size: 12px !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image-gallery-box img.swiper-slide-image {
    height:70px !important;
    object-fit: cover;
}
.play-button-text a:after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #ffb80c;
    content: "";
}
body .play-button-text .elementor-button {
     padding:5px 5px 6px 1px !important;
     font-size: 11px !important;
}
.policy-link li:after, .policy-link li:first-child:before {
    margin: 0 6px;
    content: "-";
	display:none;
}
.policy-link li {
    margin-bottom: 0;
    list-style-type: none;
    line-height: 23px;
	display: inline-block;
	margin:0px 3px;
}
.policy-link {
    display: block;
    margin: 0;
    text-align: center;
	 padding: 0;
}
.wicket-footer .widget-title {
    margin-top: 28px;
}
.wicket-footer ul li a {
    font-size: 15px;
}
.footer-copyright-widgets1 p {
    margin-bottom: 10px;
}
.search-results .wicket-site-content {
    padding: 34px 15px 50px;
}
.wicket-footer {
   padding: 48px 0px 34px 0px;
}
.velki-agent-card {
    flex-direction: column !important;
}
.agent-left-section {
    width: 100%;
}
.agent-left-section {
      flex-direction: column !important;
}
.agent-info {
    display: flex;
    text-align: center;
}
.divided-shape-customer-service .elementor-widget-container{
	margin-right:0px !important;
}
.footer-colume-4 .new-account-widgets {
    margin-top: 0;
}
.footer-colume-3 {
    padding-left: 15px;
}
.footer-copyright-widgets1 .textwidget {
     margin-top: 0;
     margin-bottom: 0;
}
.wicket-navbar-brand {
    max-width: 126px;
}
ul#menu-bottom-menu {
    justify-content: center;
}
.wicket-footer-widget .widget_media_image{
	margin-bottom:20px;
}
.search-box input {
   width:100%;
   margin-right: 0;
}
.wicket-navbar-toggler {
    right: 3px;
    top: 31px;
}
.wicket-main-menu {
    top:76px;
}
   .search-box {
    position: initial;
    width: 100%;
}
.search-box label {
    display: inline-block;
    width: 100%;
}
.search-form {
    margin-left: 15px;
    display: flex;
    margin-right: 15px;
}
.wicket-footer {
    text-align: center;
}

.wicket-site-content {
    min-height: 222px;
}
section.no-results.not-found {
    text-align: center;
    margin-top: 59px;
}
.wicket-footer ul li {
    margin-bottom: 3px;
}
.wicket-main-menu li a {
    font-size: 16px;
}
.footer-copyright-widgets1 a {
    font-size: 16px;
    padding: 11px 32px;
}

.list-box .focus-part {
    padding:7px 15px;
}
.name-dig .img{
  /* min-width: 35px;*/
}
.list-box .focus-part img {
    width: 35px;
    height: 35px;
    margin-right: 0px;
}
.list-box .focus-part .name-dig {
    gap: 10px;
}
.list-box .title-cat {
    font-size: 14px;
}
.list-box .focus-part .user-id {
    min-width:93px;
}
.list-box .focus-part p.id-ti {
    font-size: 11px;
}
.list-box .id-value {
    font-size: 13px;
}
.list-box .focus-part.focus-part:before {
    right: 15px;
	top:25px;
}
.list-box .social-connection-group {
    padding: 0 15px;
}
.social-connection-group span.value-1 {
    font-size: 0;
    min-width: 35px;
    gap: 0;
    margin-right: -10px;
}
.social-connection-group span.value-1 span {
    font-size: 0;
}
.list-box .social-connection-group span.value-2 {
    min-width: 148px;
}
.social-connection-group .copy-btn,
.list-box .social-connection-group .copy-btn {
    padding-left: 45px;
    min-width:74px;
    font-size: 0;
}
.social-connection-group span {
    font-size: 0;
}
.social-connection-group span.value-4 a:before{
    margin-top:3px;
}
.social-connection-group span.value-2 {
    font-size: 16px;
}
.list-box .focus-part .user-id:after {
    height: 41px;
    right: 12px;
}
.complain-box .focus-part-complain {
   padding: 8px 15px 8px 15px;
}
.complain-box .focus-part-complain img {
    width: 35px;
    height: 35px;
}
.social-connection-group.complain-ss {
    padding: 6px 15px 8px 15px;
}
.social-connection-group span {
    display: block;
}
.social-connection-group span.value-2 {
    font-size: 16px;
    min-width: 143px;
}
.complain-box .id-value {
    font-size: 13px;
}
.focus-part-complain .title {
    font-size: 15px;
}
.complain-box .focus-part-complain .hentry {
    margin: 0;
    font-size: 12px;
}
.content-description p {
    font-size: 16px;
    line-height: 34px;
}

.accordin-pluginsection h4 {
    font-size: 15px;
}
.accordin-pluginsection .ewd-ufaq-faq-title {
    padding-top: 15px;
    padding-bottom: 12px;
}
.accordin-pluginsection div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
    padding: 5px 0px 0px 2px;
}
.accordin-pluginsection .ewd-ufaq-faq-body p {
    font-size: 15px;
    line-height: 27px;
	margin-bottom: 0px;
}
.accordin-pluginsection .ewd-ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
    font-size: 18px !important;
}
.list-box .focus-part .hentry {
    font-size: 12px;
}
.focus-part-complain .user-id{
   min-width:80px;
}
.bottom-to-top {
    text-align: center;
    margin-bottom: 13px;
}
.search-results h1.page-title {
    font-size: 25px;
}

.search-results .wicket-site-content .container {
    padding-right: 0;
    padding-left: 0;
}
.social-connection-group .group-3 span.value-2, 
.list-box .social-connection-group .group-3 span.value-2 {
    font-size: 14px;
}
.social-connection-group .copy-btn:before{
	margin-top:3px;
}
.agends-menubar ul li a {
    font-size: 13px;
}
.agends-menubar ul li {
    margin-bottom:2px;
}
.number-colume-border:after,
.number-colume-border:before{
		display:none !important;
	}
.agent-tab-menu-box ul li {
    padding: 5px 11px !important;
    font-size: 12px !important;
}
.agent-tab-menu-box ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.agent-circle-box-number .elementor-heading-title {
    font-size:26px;
    width: 55px;
    height: 55px; 
}
.service-image-circle-box .elementor-widget-image .elementor-widget-container {
    width: 85px;
    height:85px !important;
    margin: 0 auto;
    border: 2px solid #FEBE1E;
    border-radius: 50px;
}
.search-box-wrap {
    min-width: 100%;
    margin-top: -8px;
    margin-bottom: 18px;
}
body .wicket-brand-wrap {
    height: 55px;
}
.footer-colume-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-colume-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-colume-3 {
    padding-left:15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-colume-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.menu-social-media-container ul {
    justify-content: center;
}
.wicket-footer .widget {
    margin: 0 0 0;
}
.menu-social-media-container ul {
    margin: 20px 0 36px 0px;
}
.star-rating-box .elementor-image-box-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.star-rating-box .elementor-image-box-content {
    width: 70%;
}
.star-rating-box .elementor-image-box-wrapper {
  display: flex;
        gap: 0px;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
}
.wicket-footer-widget.widget_media_image {
    margin-bottom: 27px;
}
.velki-faq-question-text {
    line-height: 28px !important;
}
.velki-faq-wrapper {
    padding: 15px 0px !important;
}

.single-post .blog-container {
    padding: 50px 15px !important;
}
.single-post .blog-container h2 {
    font-size: 20px;
    line-height: 1.45;
}
.single-post .blog-container p {
    padding: 0;
    margin: 0 0 15px 0;
}
.full-container-blog .blog-featured-image {
    position: relative;
    height: auto;
}
.full-container-blog .blog-title {
    font-size: 28px;
}
.blog-back-button-wrap {
    padding: 20px 20px 20px;
}
.full-container-blog {
    max-width: 930px;
    margin: 0 auto;
    padding: 48px 15px;
}
.agent-id-section {
    justify-content: center;
}

.full-container-blog .blog-content p {
    margin-bottom: 20px;
    font-size: 15px;
    color: #D1D5DB;
    line-height: 30px;
}
.message-btn {
    padding: 8px 12px !important;
	font-size:12px !important;
}
.contact-number {
    font-size: 12px !important;
}
.blog-content h2 {
    font-size: 22px;
    margin-top: 32px;
    line-height: 38px !important;
}
.footer-colume-1 p{
	margin-bottom:0px;
}
.wicket-main-menu li > .sub-menu li a {
    padding: 14px 40px;
    color: #fff;
}
.menu-social-media-container ul {
    gap: 0 15px;
}
.number-text {
    margin: 0 auto;
}
}
/*Mobile View Small*/
@media only screen and (max-width:360px) {
.social-connection-group span.value-1 {
    margin-right:0px !important;
}
.list-box .title-cat {
    font-size: 13px; 
}
.agends-menubar ul li a {
    font-size: 16px;
}
.list-box .focus-part .user-id {
    min-width: 70px;
}
.contact-item {
    flex-wrap: wrap;
}
.message-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
}

}
/*Mobile Tiny Small*/
@media only screen and (max-width:320px) {
body .play-button-text .elementor-button {
    padding: 5px 4px 6px 1px !important;
    font-size: 8px !important;
}
.play-button-text a:after {
    width: 38px;
}
.list-box .social-connection-group span.value-2 {
    min-width: 113px;
    font-size: 13px;
}
.social-connection-group span.value-2{
   min-width: 115px;
   font-size: 13px;
}
.social-connection-group span.value-2,
.social-connection-group .group-3 span.value-2, 
.list-box .social-connection-group .group-3 span.value-2 {
    font-size: 14px;
}
.agends-menubar ul {
    gap: 8px 14px;
}
.agent-tab-menu-box ul li {
    padding: 5px 11px !important;
    font-size: 10px !important;
}
.head-right-button ul li a {
    padding: 5px 8px;
}
}