/*  
==========================================================
- Theme Style
==========================================================
*/

/* Main Menu Style */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,0.09);
}
.wicket-navbar {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 68px;
    background: transparent;
}
.wicket-menu-wrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wicket-navbar-brand {
    max-width: 145px;
    display: block;
}
.wicket-main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
	margin: 0 auto;
}

.wicket-main-menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.wicket-main-menu li a {
    display: block;
    padding: 20px 26px;
    color: #D1D5DC;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}


.wicket-main-menu li a:hover {
    color: #fec611;
}
.wicket-main-menu li > .sub-menu {
    display: none;
    position: absolute;
    top:64px;
    left: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    width: 278px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #0000001A;
    border-radius: 15px;
	/*opacity:0;*/
	transition: all .5s ease-in !important;
}
/*.wicket-main-menu li > .sub-menu:hover.open{
	opacity:100;
	transition: all .5s ease-in !important;
	top:64px;
}*/

.wicket-main-menu li > .sub-menu li {
    display: block;
    position: relative;
    z-index: 0;
    padding: 0 15px;
}
.wicket-main-menu li > .sub-menu li a {
    display: block;
    text-decoration: none;
    padding: 18px 15px;
    line-height: 1.5;
    border-bottom: 1px solid #00000012;
    color: #000;
}
.wicket-main-menu li > .sub-menu li ul.sub-menu {
    display: block;
    position: absolute;
    width: 250px;
    left: 100%;
    top: 0%;
    z-index: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.open {
    display: block !important;
}
.hide {
    display: none !important;
}
.fixed-to-top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100000;
    /* transition: all 0.3s ease-in-out; */
}
.wicket-main-menu .menu-item-has-children {
    padding-right:0px;
}
.wicket-main-menu > .menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: -6px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
    color: #fff;
}
.wicket-main-menu > .menu-item-has-children:hover::after {
    content: "\f077";
}
.wicket-main-menu > li ul.sub-menu .menu-item-has-children:after {
    content: "\f054";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.wicket-main-menu > li ul.sub-menu .menu-item-has-children:hover::after {
    content: "\f053";
}
.wicket-main-menu > li ul.sub-menu li.menu-item-has-children:after {
    right: 10px;
}
.wicket-navbar-toggler,
.wicket-main-menu li .mb-toggle {
    display: none;
}
.mb-toggle .dashicons {
    margin: 50%;
    transform: translate(-50%, -50%);
}
.current-menu-item > a {
    color: #222;
    font-weight: 500;
}
/* Portrait and Landscape */
@media only screen
and (max-width: 1080px) {
span.mb-toggle.js-hide-mb-nav i {
 transform: rotate(180deg);
}
.search-box {
    position: absolute;
    right: 69px;
}
.wicket-main-menu .jugajug-btn{
    display:block !important;
}

.right-button a{
    display:none;
}
.wicket-navbar {
        background-color:transparent;
    }
    .wicket-navbar .container {
        padding: 0;
    }
    .wicket-brand-wrap {
        padding: 0 15px;
    }
    a.wicket-navbar-brand {
        font-weight: 600;
    }
    a.wicket-navbar-brand,
    a.wicket-navbar-brand:visited,
    .wicket-navbar-toggler {
        color: #fff
    }
    .wicket-brand-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom:0px solid rgba(255,255,255, 0.7);
    }
    .wicket-navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .wicket-main-menu {
        display: none;
        width: 100%;
        padding: 0 0;
        background:#3c1c3e;
		top: 98px;
		position: absolute;
       box-shadow: 0px 1px 8px 0px #0000001A;
    }
    .wicket-main-menu > li {
        display: block;
        
    }
    .wicket-main-menu li a {
      padding: 16px 24px;
     border-bottom: 1px solid rgb(40 28 53);
    }
    .wicket-main-menu .menu-item-has-children:after {
        display: none;
    }
    .wicket-main-menu li .mb-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #333;
        text-align: center;
        line-height: 2.5;
        top:13px;
        right: 5px;
		color: #fff;
    }
.right-button{
	position: absolute;
    right: 84px;
    top:42px;
	}
.wicket-main-menu li > .sub-menu {
    box-shadow: 0px 0px 0px 0px #0000001A;
    }
    .wicket-main-menu li ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .wicket-main-menu li ul li {
        display: block;
        position: relative;
    }
    .wicket-main-menu > li ul.sub-menu {
        display: none;
        width: 100%;
        position: relative;
        top: 0;
       background: #3c1c3e;
        padding: 0px 0px 0px 0px;
    }
    .wicket-main-menu > li ul.sub-menu > li {
        border-bottom: 0px solid rgba(0,0,0,0.05);
        padding: 0 0;
    }
    .wicket-main-menu > li ul.sub-menu li:first-child {
        border-top: 0px solid rgba(0,0,0,0.05);
    }
    .wicket-main-menu > li ul.sub-menu > li:last-child {
        border: 0;
    }
    .wicket-main-menu > li ul.sub-menu > li:only-child {
        border-top: 0px solid rgba(0,0,0,0.05);
    }
    .wicket-main-menu li > .sub-menu li ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0px 0px 0px;
    }
    .wicket-main-menu .menu-item-has-children {
        padding-right: 0;
    }
    .wicket-main-menu li > .sub-menu li a {
        padding: 16px 40px;
        color: #fff;
	    border-bottom:1px solid rgb(40 28 53);
    }

    .wicket-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#000;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .wicket-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .wicket-navbar-toggler i::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .wicket-navbar-toggler::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
    }
    .wicket-navbar-toggler i::before {
        visibility: hidden;
    }
    .wicket-navbar-toggler {
        display: block;
        right: 10px;
        top:42px;
        width: 24px;
        position: absolute;
        cursor: pointer;
        border: 0;
        color: #dadada;
        z-index: 9;
        width: 36px;
        padding: 2px;
    }
    .wicket-navbar-toggler,
    .wicket-navbar-toggler:before,
    .wicket-navbar-toggler:after,
    .wicket-navbar-toggler.js-hide-nav:before,
    .wicket-navbar-toggler.js-hide-nav:after {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .wicket-navbar-toggler.js-hide-nav:before {
        moz-transform: rotate(45deg) translateX(6px) translateY(6px);
        -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
        -o-transform: rotate(45deg) translateX(6px) translateY(6px);
        -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
        transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    .wicket-navbar-toggler.js-hide-nav:after {
        -moz-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -webkit-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -o-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -ms-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
    .wicket-navbar-toggler.js-hide-nav i:after {
        visibility: hidden;
    }
}
.wicket-site-content{
	min-height:500px;
}
.wicket-navbar .container {
    max-width: 100%;
}
/*footer start*/
.wicket-footer .container {
    max-width: 1300px;
}
.wicket-footer{
	min-height:400px;
	background-color: #101828;
	padding: 70px 0px 0px 0px;
	border-top: 0px solid #1E2939;
}
.wicket-footer .widget-title {
    color:#ffffff;
	font-size:14px;
	line-height: 28px;
	    margin-top: 0;
}
.wicket-footer a,
.wicket-footer p{
  color: #99A1AF;
}
.wicket-footer ul{
	margin:0;
	padding:0;
}
.wicket-footer ul li{
	list-style-type:none;
    margin-bottom: 5px;
}
.wicket-footer ul li a{
   text-decoration:none !important;
	font-size:14px;
}
.wicket-footer ul li a:hover{
   color: #FFA726;
}

.footer-colume-4 p span{
	color:#FFA726;
}
.footer-colume-4 p{
	color:#ffffff !important;
}
.new-account-widgets .title-content{
	margin:0;
	padding:0;
	margin-bottom:15px;
	font-size:34px;
	font-weight:600;
	color:#fff;
}

.footer-copyright-widgets1 .textwidget p:first-child {
    font-size: 14px;
	color: #6A7282;
}
.footer-copyright-widgets1 a{
	background-color:transparent;
	border:2px solid #000;
	color:#000;
	min-width:220px;
	border-radius:40px;
	font-size:20px;
	padding: 11px 32px;
	text-decoration:none !important;
	font-weight:500;
	position:relative;
}
.footer-copyright-widgets1 a:hover{
   background-color:#F4B71E;
}
.footer-copyright-widgets1 a:after{
	content:'';
	background-image: url(/wp-content/uploads/2024/04/foo-btn-arrow.png) !important;
	width:14px;
	height:15px;
	vertical-align: middle;
    margin-left: 10px;
	display: inline-block;
}
.footer-colume-3 {
	padding-left: 36px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.foo-bottom-border{
	border-top:1px solid rgba(0, 0, 0, 0.2);
    padding-top:42px;
}
.foo-bottom-border p{
	color:rgba(0, 0, 0, 0.7);
	font-size:17px;
	font-weight:500;
}
.bottom-to-top {
    text-align: right;
    margin-top: -69px;
}
.bottom-to-top a{
	width:51px;
	height:51px;
	background-color:#FEBE1E;
	border:2px solid #CB9818;
	display:inline-block;
	border-radius:50%;
	position:relative;
	cursor:pointer;
}
.bottom-to-top a:hover{
   background-color:#F4B71E;
   border:2px solid #F4B71E;
}
.bottom-to-top a:hover:after{
      background-image: url(../img/up-arrow-hover.png) !important;
}
.bottom-to-top a:after{
	content:'';
	width:18px;
	height:18px;
	background-image: url(/wp-content/uploads/2024/04/up-arrow-up2.png) !important;
	position:absolute;
	top: 15px;
    left: 14px;
}
/*footer end*/
.master-btn a{
	text-decoration:none !important;
    font-weight:600 !important;
}
.content-description p{
	font-size:22px;
	line-height:42px;
}

.accordin-section .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    padding: 15px;
    background-color: transparent;
	border-left:0px;
	border-right:0px;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.accordin-section .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    background-color: transparent;
}
.accordin-section .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    background-color: transparent;
}
.accordin-section .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    border-bottom: 1px solid #eee;
    padding: 15px;
    border-top: 0px !important;
	border-left:0px;
	border-right:0px;
}

.right-button a{
	position:relative;
	color:#000000;
	text-decoration:none !important;
    font-size: 19px;
    font-weight: 600;
}
.right-button a:hover{
	/*border-bottom: 1px solid #FEBE1E;*/
    color:#FEBE1E;
}
.right-button a:hover:after{
   	background-image: url(../img/top-arrow-btn-hover.png) !important;
}
.right-button a:after{
	content:'';
	width:14px;
	height:14px;
	background-image: url(../img/top-arrow-btn.png) !important;
    display: inline-block;
    margin-left: 10px;
}
.top-arrow-image img{
	transition: all .5s ease-in !important;
}
.top-arrow-image.active img,
.top-arrow-image:hover img{
	transform: rotate(45deg);
	transition: all .5s ease-in !important;
}

/*inner banner end*/
.inner-common-header h1,
.inner-common-header .entry-title{
   margin: 0 !important;
    font-weight: 600;
    font-size:68px;
    line-height: 64px;
    color: #000;
    position: relative;
    z-index: 1;
    padding-top:80px;
    text-align: center;
}

.inner-common-header .container{
    max-width:1440px;
    width:100%;
}
.inner-common-header{
    background: url(/wp-content/uploads/2024/04/header-inner.png) no-repeat;
    width: 100%;
    position: relative;
    min-height:419px;
    display: flex;
    align-items: center;
    padding: 43px 20px 32px 20px;
    background-size: cover;
    margin-top: -127px;
}

/*contact from start*/

.agends-menubar ul{
    margin:0;
    padding:0;
    border-left:1px solid #FEBE1E;
    padding-left:40px;
}
.agends-menubar ul li{
   list-style-type:none; 
   color:rgba(0, 0, 0, 0.2);
   margin-bottom:12px;
}
.agends-menubar ul li a{
  color:rgba(0, 0, 0, 0.6);
  font-size:20px;
  font-weight:300;
  position:relative;
  text-decoration:none !important;
}
.agends-menubar ul li a:hover{
    font-weight:600;
    color:#000;
}
.agends-menubar ul li.active a{
    font-weight:600;
    color:#000;
}
.agends-menubar ul li.active a:before,
.agends-menubar ul li a:hover:before{
    content:'';
    width:3px;
    height:25px;
    background-color:#000000;
    position:absolute;
    left: -42px;
}
.focus-part-complain .title{
	font-weight:bold;
}
.complain-box .id-value {
    color:#fff;
}
.complain-box{
	border:1px solid #000;
	border-radius:10px;
	margin-bottom: 20px;
}
.complain-box .focus-part-complain {
    background-color:#000;
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom:1px solid #E6E6E6;
display: flex;
justify-content: space-between;
 align-items: center;
 padding:14px 30px 14px 30px;
}
.complain-box .focus-part-complain .name-dig{
  display: flex;
  gap:10px;
}
.complain-box .focus-part-complain img{
	width:53px;
	height:53px;
	border-radius:50%;
}
.complain-box .focus-part-complain p{
	margin:0px;
	padding:0px;
}
.complain-box .focus-part-complain p.id-ti{
	font-size:13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
}
.complain-box .focus-part-complain .hentry {
    margin: 0;
	font-size: 14px;
}
.social-connection-group.complain-ss{
	padding:20px 30px 20px 30px;
}
.social-connection-group.complain-ss .group-1,
.social-connection-group.complain-ss .group-2,
.social-connection-group.complain-ss .group-3{
	display:flex;
	margin:20px 0px;
}
.social-connection-group span{
	display:block;
	width:25% !important;
	font-size:14px;
}
.social-connection-group span.value-1 {
    display: flex;
    gap: 9px;
}
.social-connection-group span.value-1 {
	position:relative;
	font-weight: 600;
	min-width: 218px;
}
.social-connection-group span.value-1 span {
	color:rgba(0, 0, 0, 0.4);
	font-size:14px;
}
.social-connection-group span.value-1:before {
	content:'';
	background: url(../../assets/img/whatsap.png) no-repeat;
	width:23px;
	height:23px;
	display: inline-block;
    vertical-align: middle;
}
.social-connection-group span.value-2{
	font-weight:600;
	font-size:18px;
	min-width: 248px;
    color: #000;
}
.social-connection-group .group-3 span.value-2{
	font-size:16px;
}
.social-connection-group span.value-4,
.social-connection-group .copy-btn{
	position:relative;
}
.social-connection-group .copy-btn{
	padding-left:35px;
	min-width: 200px;
    color: #000;
cursor:pointer;
}
.social-connection-group .copy-btn:before {
	content:'';
	background: url(../../assets/img/copy-icon.png) no-repeat;
	width:13px;
	height:13px;
	display: inline-block;
    vertical-align: middle;
	margin-right:12px;
}
.social-connection-group span.value-4 a{
	color:#000;
	position:relative;
}
.social-connection-group span.value-4 a:before{
	content:'';
	background: url(../../assets/img/messenger-icon.png) no-repeat;
	width:22px;
	height:20px;
	display: inline-block;
    vertical-align: middle;
	margin-right:5px;
	margin-top: 5px;
}
.social-connection-group .group-3 span.value-1:before{
	content:'';
	background: url(../../assets/img/messenger-icon-2.png) no-repeat;
	width:23px;
	height:23px;
	display: inline-block;
    vertical-align: middle;
	margin-right:2px;
}
.complain-box .id-value{
	font-weight:bold;
}

.list-box .focus-part{
	display:flex;
    border-bottom:1px solid rgba(0, 0, 0, 0.07);
    background-color:#FEBE1E;
    padding:11px 30px;
    position:relative;
	align-items: center;
	cursor:pointer;
}
.list-box .focus-part:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:1005;
	width:100%;
}
.list-box .focus-part:hover,
.list-box .focus-part.active{
    border:1px solid #000000;
    background-color:#000000;
}

.list-box .focus-part:hover .title-cat .title,
.list-box .focus-part.active .title-cat .title{
    color: #fff;
}
.list-box .focus-part:hover .id-value,
.list-box .focus-part.active .id-value,
.list-box .focus-part:hover p.id-ti,
.list-box .focus-part.active p.id-ti,
.list-box .focus-part:hover .title-cat,
.list-box .focus-part.active .title-cat{
   color: rgba(255, 255, 255, 0.9);
}

.list-box .focus-part:hover:before {
	background: url(/wp-content/uploads/2024/04/down-arrow.png) no-repeat !important;
}
.list-box .focus-part.active:before {
    transform: rotate(180deg);
	background: url(/wp-content/uploads/2024/04/down-arrow.png) no-repeat !important;
}
.list-box .social-connection-group{
    border:1px solid #000000;
   /* -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;*/
    padding: 0 30px;
}
.list-people-box .elementor-shortcode .list-box:first-child .focus-part{
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

	
.list-people-box .elementor-shortcode .list-box:last-child .focus-part{
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.list-people-box .elementor-shortcode .list-box:last-child .focus-part.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-people-box .elementor-shortcode .list-box:last-child .social-connection-group {
  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.list-box .social-connection-group .copy-btn {
    padding-left: 35px;
    min-width: 175px;
    cursor: pointer;
}
.list-box .focus-part.focus-part:before{
	content:'';
	background: url(../../assets/img/down-arrow.png) no-repeat;
	width:15px;
	height:9px;
	position:absolute;
    right: 39px;
    top: 50%;
}
.list-box .focus-part.active:before{
    transform: rotate(180deg);
}

.list-box .focus-part p{
    margin:0;
    padding:0;
}
.list-box .focus-part .user-id{
    min-width:135px;
	position:relative;
}
.list-box .focus-part.active .user-id:after,
.list-box .focus-part:hover .user-id:after{
     background-color:rgba(255,255, 255, 0.27);
}
.list-box .focus-part .user-id:after{
   content:'';
   width:1px;
   height:54px;
   background-color:rgba(0, 0, 0, 0.07);
   position: absolute;
   right: 22px;
   top:-3px;
}
.list-box .focus-part .name-dig{
   display:flex;
   align-items: center;
}
.list-box .focus-part .hentry {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.list-box .focus-part img{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.social-connection-group .group-1,
.social-connection-group .group-2,
.social-connection-group .group-3{
	display:flex;
	margin:20px 0px;
}
.list-box .social-connection-group span.value-2 {
    min-width: 190px;
}
.social-connection-group .group-3 span.value-2,
.list-box .social-connection-group .group-3 span.value-2 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.social-connection-group .group-3 span.value-2 a,
.list-box .social-connection-group .group-3 span.value-2 a{
	color:#000;
}
.list-box .title-cat{
	font-size:21px;
	font-weight:700;
}
.list-box .id-value{
	font-size:17px;
	font-weight:600;
    color: #000;
}
.list-box{
	margin-bottom:0px;
}
.list-box .focus-part p.id-ti{
	font-size:13px;
}

/*error page start*/

section.error-404.not-found {
    text-align: center;
    padding: 106px 0px 127px 0px;
}
section.error-404.not-found .page-title {
    color: #000;
}
section.error-404.not-found h1 {
    font-size: 60px;
    color: #2B9CDD;
}
/*error page end*/
.border-gradient{
	position:relative;
}
.search-form{
	margin-left:0px;
	display: flex;
}
.search-box input{
    outline: 0px !important;
    font-size: 14px;
    height: 40px;
    padding: 0px 0 !important;
    margin-right: -2px;
    border-bottom: 0px solid #000 !important;
    border-radius: 0px !important;
    border-top: 0px solid #000 !important;
    border-left: 0px solid #000 !important;
    border-right: 0px solid #000 !important;
    background: transparent;
    font-weight: bold;
	color: #ffffff !important;
}
.search-box input:focus{
   border-top: 0px solid #000 !important;
   border-left: 0px solid #000 !important;
   border-right:0px solid #000 !important;
}
body .search-submit{
	padding:0px;
	border:1px solid #d0d0d0;
	font-size:0px !important;
	background: url(../img/search-icon.png) no-repeat 7px center !important;
    border-left: 0px !important;
    background-size: 20px !important;
    padding: 0px 17px !important;
    width: 35px !important;
	cursor:pointer;
    border: 0px !important;
}

section .no-results .search-form{
	display:none !important;
}
section.no-results.not-found {
    text-align: center;
    margin-top: 100px;
}

.search-results h1.page-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 27px;
}
.jugajug-btn{
    display:none !important;
    position:relative;
}
.jugajug-btn a:after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url(../img/top-arrow-btn.png) !important;
    display: inline-block;
    margin-left: 10px;
}
.jugajug-btn a:hover:after{
     background-image: url(../img/top-arrow-btn-hover.png) !important;
}
nav.navigation.posts-navigation a{
    background-color: #192333;
    color: #fff;
    min-width: 220px;
    border-radius: 40px;
    font-size: 17px;
    padding: 13px 25px;
    text-decoration: none !important;
}
nav.navigation.posts-navigation a:hover{
    background-color: #F4B71E;
}
nav.navigation.posts-navigation a:hover {
    background-color: #F4B71E;
    color: #000;
}
nav.navigation.posts-navigation {
    margin-top: 47px;
}
.link-bd svg{
   width:14px !important;
}
.title-cat .title{
  color:#000000;
}
.search-results .title-cat .title{
  color:#ffffff;
}
.complain-box .focus-part-complain .hentry {
   color: rgba(255, 255, 255, 0.8);
}
/*plugin accordin start*/
.accordin-pluginsection div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
    text-decoration: none;
    float: right !important;
	margin-right:0px !important;
	padding: 4px 0px 0px 2px;
}
.accordin-pluginsection .ewd-ufaq-faq-body {
    padding: 10px 0;
    padding-left: 0;
    border-top:1px solid rgba(0, 0, 0, .12);
    padding-top: 18px;
}
.accordin-pluginsection .ewd-ufaq-faq-body p{
	line-height:32px;
	margin-bottom:10px;
}
.accordin-pluginsection .ewd-ufaq-faq-body p:last-child{
	margin-bottom:10px;
}
.accordin-pluginsection a {
    color: #000;
}
.accordin-pluginsection .ewd-ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
    display: inline-block;
    font-size: 21px !important;
    margin: 0 auto;
}
.accordin-pluginsection .ewd-ufaq-faq-title{
	border-top: 1px solid rgba(0, 0, 0, .12);
    padding-top: 28px;
    padding-bottom: 19px;
}
.accordin-pluginsection .ewd-ufaq-faq-body a{
   color:#FEBE1E;
}
.accordin-pluginsection .ewd-ufaq-faq-title h1, 
.accordin-pluginsection .ewd-ufaq-faq-title h2, 
.accordin-pluginsection .ewd-ufaq-faq-title h3, 
.accordin-pluginsection .ewd-ufaq-faq-title h4, 
.accordin-pluginsection .ewd-ufaq-faq-title h5, 
.accordin-pluginsection .ewd-ufaq-faq-title h6 {
    display: inline-block;
    margin: 0!important;
}
.accordin-pluginsection .ewd-ufaq-faqs .ewd-ufaq-faq-div:last-child .ewd-ufaq-faq-title{
	border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.accordin-pluginsection .ewd-ufaq-faqs .ewd-ufaq-faq-div:first-child .ewd-ufaq-faq-title{
	border-top: 0px solid rgba(0, 0, 0, .12);
}
.accordin-pluginsection .ewd-ufaq-faqs .ewd-ufaq-faq-div:last-child .ewd-ufaq-faq-body {
    padding: 10px 0;
    padding-left: 0;
    border-top:0px solid rgba(0, 0, 0, .12);
    border-bottom:1px solid rgba(0, 0, 0, .12);
    padding-top: 18px;
}
.accordin-pluginsection h4 {
    font-size: 22px;
}
/*plugin accordin end*/


/*quiz sidebar accordin start*/
.right-sidebar-accordion .elementor-accordion .elementor-accordion-item {
    border-bottom: 1px solid #d5d8dc;
    border-left: 0px solid #d5d8dc !important;
    border-right: 0px solid #d5d8dc !important;
}
/*quiz sidebar accordion end*/

.service-image-circle-box .elementor-widget-image .elementor-widget-container{
   width: 103px;
    height: 103px !important;
    margin: 0 auto;
    border: 3px solid #FEBE1E;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agent-circle-box-number .elementor-heading-title{
       font-size: 33px;
    width: 74px;
    height: 74px;
    border: 2px solid #FEBE1E;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #fffbf0;
	z-index: 1;
    position: relative;
}
.list-white-color li{
	color:#ffffff;
}


/*head line tricky start*/
.ticker-wrapper-h a {
  text-decoration: none;
}
.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
	background-color: #e7b225;
	border: 0px solid #1c6547;
	padding: 7px 0px;
}

.ticker-wrapper-h .heading{
	background-color: #1c6547;
	color: #fff;
	padding: 6px 10px;
	flex: 0 0 auto;
	z-index: 1000;
}
.ticker-wrapper-h .heading:after{
	content: "";
	position: absolute;
	top: 0;
	border-left: 20px solid #1c6547;
	border-top: 17px solid transparent;
	border-bottom: 15px solid transparent;
}


.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 999;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 30s;
	
}
.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 25px;
	margin: 0;
	position:relative;
}
.news-ticker-h li:before{
	content:'';
	width:4px;
	height:4px;
	border-radius:50%;
	background-color:#000000;
	display: inline-block;
    margin-right: 25px;
}
.news-ticker-h li a{
	color:rgba(0, 0, 0, 0.86);
	font-weight: 400;
	font-size:17px;
}
.news-ticker-h li a:hover{
	color:rgba(0, 0, 0, 0.86);
	/*font-weight: bold;*/
	text-shadow: rgba(0, 0, 0, 0.86) 1px 0 1px;
}
@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
/*head line tricky end*/
.nav-top-ticker,
.ticker-wrapper-h{
	display:none;
}

.header-bg-box {
     background: #FFB80C;
}
.search-box-wrap{
	background-color:#364153;
	border:1px solid #4A5565;
	border-radius:10px;
	display: flex;
	min-width: 256px;
	    padding: 0 7px;
}
.search-box-wrap label{
	 margin-bottom:0;
}
.menu-social-media-container ul {
           display: flex;
           gap: 0 20px;
		   margin: 20px 0 0 0;
		   padding:0;
        }
.menu-social-media-container ul li a {
                background-color:#1E2939;
				width:36px;
				height:36px;
				display: flex;
				border-radius: 10px;
				align-items: center;
				justify-content: center;
         }
.footer-colume-1 {
        -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}
.footer-colume-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
ul#menu-bottom-menu {
    display: flex;
    gap: 0 24px;
    justify-content: right;
}
.border-bottom-copy{
	border-top:1px solid #1E2939;
	padding-top: 30px;
	margin-top: 35px;
}

.gradient-btn1 a{
	background: linear-gradient(180deg, #25D366 0%, #128C7E 100%);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.gradient-btn2 a{
	background: linear-gradient(180deg, #0057FF 0%, #0046CC 100%);
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.gradient-btn3 a{
	background: linear-gradient(135deg, #AD46FF 0%, #8200DB 100%);
}
.gradient-btn4 a{
	background: linear-gradient(135deg, #00C950 0%, #008236 100%);
}
.gradient-btn5 a{
	background: linear-gradient(135deg, #2B7FFF 0%, #1447E6 100%);
}
.gradient-btn6 a{
	background: linear-gradient(135deg, #FF6900 0%, #CA3500 100%);
}
.match-btn a {
    width: 100% !important;
}
.view-button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-button:hover {
    transform: translateY(-5px);
}
.view-button a {
    text-decoration: none !important;
}

.velki-official-section{
	background: linear-gradient(180deg, #FFB800 0%, #FFA000 50%, #FFB800 100%);
}
.official-netwok-section{
	background: linear-gradient(135deg, #FFFFFF 0%, #EFF6FF 50%, #FAF5FF 100%);
}
.network-support-box{
	background: #FFFFFF;
	border: 0.8px solid #E5E7EB;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.network-support-box .elementor-image-box-title{
	margin-top:0;
	margin-bottom: 2px;
}
.offer-part-content .elementor-image-box-title{
	margin-top:0;
	margin-bottom: 2px;
}
.special-offer{
	background: linear-gradient(135deg, #FFFFFF 0%, #FEFCE8 50%, #FFF7ED 100%);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.offer-main-box{
	background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.money-content span{
	font-size:36px;
	line-height:40px;
	color:#ffffff;
	font-weight:400;
}
.star-rating-box{
	background: #FFFFFF;
border: 0.8px solid #F3F4F6;
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
border-radius: 16px;
padding:10px 10px;
}
.star-rating-box .elementor-image-box-img{
	width:48px !important;
}
.star-rating-box .elementor-image-box-title{
	margin-top:0;
	margin-bottom: 2px;
}

.network-support-box2{
	background: #FFFFFF;
	border: 0.8px solid #E5E7EB;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.network-support-box2 .elementor-image-box-img{
	width:56px !important;
}
.network-support-box2-link .elementor-image-box-title,
.network-support-box2 .elementor-image-box-title{
	margin-top:0;
	margin-bottom: 2px;
}

.network-support-box2-link .elementor-image-box-img{
	width:56px !important;
}
.start-btn a{
	background: linear-gradient(90deg, #00C950 0%, #00B25A 46.84%, #009966 100%);
   box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.game-feature a{
	background: linear-gradient(90deg, #AD46FF 0%, #E60076 100%);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.hotbtb a{
	 background: linear-gradient(90deg, #AD46FF 0%, #E60076 100%);
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.ex-btn-1 a{
	background: linear-gradient(90deg, #AD46FF 0%, #E60076 100%);
}
.ex-btn-2 a{
	background: linear-gradient(180deg, #FFB800 0%, #FFA000 100%);
}
.ex-btn-3 a{
	background: linear-gradient(90deg, #05DF72 0%, #00BC7D 100%);
}
.pupotb a{
	background: linear-gradient(180deg, #FFB800 0%, #FFA000 100%);
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.premium-box-gradient{
	background: linear-gradient(90deg, rgba(89, 22, 139, 0.5) 0%, rgba(134, 16, 67, 0.5) 100%);
    border: 0.8px solid rgba(173, 70, 255, 0.3);
}
.velki-text-content{
	background: linear-gradient(90deg, #101828 0%, #1C398E 50%, #59168B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.facebookbg a{
	background: linear-gradient(90deg, #155DFC 0%, #1447E6 100%);
}
.channelbtn a{
	background: linear-gradient(90deg, #E7000B 0%, #C10007 100%);
}
.velki-faq-answer-content p {
    margin: 0 0 15px 0;
    color: #fff;
}

.offer-btn a {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.velki-faq-answer-content li {
    margin-bottom: 8px;
    color: #ffffff !important;
}
.agent-box{
	  background: linear-gradient(90deg, #101828 0%, #431D42 50%, #101828 100%) !important;
		border: 0.8px solid rgba(255, 255, 255, 0.2) !important;
}
.agent-box .elementor-image-box-img{
	width:56px !important;
}
.agent-box .elementor-image-box-title{
	margin-top:0px;
	margin-bottom:8px;
}
.contact-box-gra{
	background: linear-gradient(135deg, #1E2939 0%, #101828 100%) !important;
    border: 0.8px solid #364153;
}
.avijuk-css{
   background: linear-gradient(135deg, #FB2C36 0%, #FF6900 100%);	
}

table, th, td {
    text-align: left;
    border: 1px solid #d9d9d9;
    color: #000;
    font-size: 16px;
    line-height: 29px;
    font-weight: normal;
    font-family: "Noto Sans Bengali", sans-serif!important;
    padding: 6px 15px;
    color: #fff;
}

.contact-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgba(16, 24, 40, 0.5);
    border: 0.8px solid rgba(54, 65, 83, 0.5);
    border-radius: 16px;
    padding: 12px 15px;
}
.agent-left-section {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 30%;
}
.agent-contact-section a{
	text-decoration:none !important;
}

.velki-agent-card {
    align-items: center;
}
.velki-agent-card .agent-photo-wrapper img {
    border-radius: 16px;
}
.contact-item {
    border-radius: 8px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.offer-slider-wrapper {
    padding: 0px 0px !important;
}
 
.blog-details-article {
    background-color: #030712;
    color: #ffffff;
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
}
.blog-details-article {
    background-color: #030712;
}
.offer-slider-prize-section {
    background: #f0f9ff;
    border-left: 0px solid #3b82f6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #F0FDF4 0%, #ECFDF5 100%);
    border: 0.8px solid #B9F8CF !important;
    border-radius: 14px;
}
.offer-slider-prize-section .offer-slider-prize-amount {
    font-size: 24px;
    font-weight: bold;
    color: #00A63E;
}
.offer-slider-card {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 24px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.offer-slider-wrapper .offer-slider-header-img {
    height: 256px;
}
.offer-slider-icon-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: -116px !important;
    position: relative;
}

.offer-slider-badge {
    position: absolute;
    top: 15px;
    right: 15px;
	 background: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
	opacity: 0.65;
	box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.offer-slider-icon-wrapper {
    border-radius: 15px;
    border: 4px solid #ffffff;
}
.offer-slider-description {
    margin-bottom:15px !important;
}
.offer-slider-track a{
	text-decoration:none !important;
}
.offer-slider-card-title {
    color: #101828;
}
.offer-slider-description {
    flex: none !important;
}
.agent-photo-wrapper {
    position: relative;
    flex-shrink: 0;
    background: #FFA726 !important;
    box-shadow: 0px 0px 0px 4px #FFA726 !important;
    border-radius: 10px;
	width:48px;
	height:48px;
}
.agent-contact-toggle {
   background: linear-gradient(180deg, #FFA726 0%, #FF9800 100%) !important;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
    border-radius: 6px;
    padding: 8px 10px !important;
    color: blue !important;
	outline:0 !important;
}
.agent-info {
    display: flex;
    flex-direction: column;
	align-items: flex-start !important;
    gap: 2px;
    flex: 1;
    min-width: 0;
    padding-left: 10px;
}
.velki-agent-card {
    padding: 10px 15px !important;
}
.contact-number {
    color: #ffffff;
    background: #1E2939;
    border-radius: 10px;
    padding: 7px 20px;
}
.contact-item {
    background: transparent !important;
    border-radius: 8px;
    padding: 0 !important;
}
.copy-btn {
    border-radius: 8px !important;
}
.whatsapp-message-btn {
    background: #25D366 !important;
}
.agent-verified-badge {
    position: absolute;
    bottom: -8px;
	    left: auto !important;
    right: -22px !important;
    transform: translateX(-50%);
    color: #1e293b;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1e293b !important;
	background: linear-gradient(180deg, #FEC611 0%, #FFB800 100%) !important;
}
.agent-left-section {
    align-items: center !important;
}
.messenger-column .contact-header {
    color: #D1D5DC !important;
}
.agent-contact-section {
    gap: 16px !important;
    flex: 1;
}
.message-btn {
    border-radius: 10px !important;
}
.experience-box{
    padding: 20px 30px !important;
    max-width:520px;
    margin: 0 auto !important;
    background: #FFFFFF;
    border: 0.8px solid #E5E7EB;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 16px !important;
}

.official-support-text .elementor-heading-title{
	background: linear-gradient(90deg, #101828 0%, #1C398E 50%, #59168B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.player-support-text{
	background: linear-gradient(90deg, #101828 0%, #364153 50%, #101828 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.velkiu-text{
	background: linear-gradient(90deg, #101828 0%, #7E2A0C 50%, #101828 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.social-box-thum{
	background: #FFFFFF;
border: 0.8px solid #F3F4F6;
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 24px;
}

.velki-faq-item {
    background: rgba(255, 255, 255, 0.05) !important;
    border: 0.8px solid rgba(255, 255, 255, 0.1)!important;
    border-radius: 10px !important;
}
.velki-faq-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0px solid #fbbf24 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FFA726 0%, #FF9800 100%);
}

.velki-faq-toggle {
    width: 18px !important;
    height: 20px;
    border-radius: 50%;
    background: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    flex-shrink: 0;
}
.velki-faq-answer-content {
    padding: 0 24px 24px 25px !important ;
}
.offer-btn2 a{
	background: linear-gradient(180deg, #FFA726 0%, #FF9800 100%)!important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
}
.wikets-btn a{
	background: linear-gradient(90deg, rgba(255, 167, 38, 0.9) 0%, rgba(255, 152, 0, 0.9) 100%) !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
}
.agent-list-btn a{
	background: linear-gradient(180deg, #FFA726 0%, #FF9800 100%) !important;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}
.velki-featured-admin .velki-featured-header {
   background: linear-gradient(90deg, #00A63E 0%, #008236 100%) !important;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
	padding: 22px 24px !important;
}
.velki-featured-whatsapp {
     background: linear-gradient(90deg, #00A63E 0%, #008236 100%) !important;
    color: white;
}
.number-box-shadow{
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
}
.facebook-btn a{
	background: linear-gradient(90deg, #155DFC 0%, #1447E6 100%) !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
}
.facebook-page a{
	background: linear-gradient(180deg, #431D42 0%, #6B2D6A 100%) !important;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
}
.youtube-btn a{
	background: linear-gradient(90deg, #E7000B 0%, #C10007 100%) !important;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
}
.communicate-btn a{
	background: linear-gradient(180deg, #FFA726 0%, #FF9800 100%) !important;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
}
.velki-featured-card.velki-featured-admin .velki-featured-title-bn {
    color: #101828;
}
.velki-featured-card.velki-featured-admin .velki-featured-title-en{
	color:#1E2939;
}
.velki-featured-subadmin .velki-featured-header {
   background: linear-gradient(180deg, #431D42 0%, #6B2D6A 100%) !important;
    padding: 22px 24px !important;
    text-align: center;
}
.velki-featured-whatsapp {
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1)!important;
border-radius: 14px;
    color: white;
}
.velki-featured-agents-container a{
	text-decoration:none !important;
}
.velki-featured-copy {
  background: #364153 !important;
    color: white;
	border-radius: 14px;
}
.velki-featured-contact {
    background: #1e293b;
    padding: 24px;
    text-align: center;
    background: linear-gradient(90deg, #101828 0%, #431D42 50%, #101828 100%) !important;
	border: 0.8px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px;
    margin: 20px 24px;
}
.velki-featured-card {
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #101828 0%, #431D42 50%, #101828 100%) !important;
	border: 0.8px solid rgba(255, 255, 255, 0.2) !important;
}
.velki-featured-buttons {
    background: transparent !important;
    padding: 3px 24px 24px !important;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.direction-avijuk{
	background: linear-gradient(135deg, #1E2939 0%, #101828 100%);
	border: 0.8px solid #364153;
	border-radius: 16px;
}
.footer-colume-4 p{
	margin-bottom:3px;
}
.footer-copyright-widgets1 {
    text-align: center;
}
/*blog details start*/
.blog-back-button-wrap{
	/*background: linear-gradient(135deg, #101828 0%, #030712 100%);*/
	border-bottom: 0.8px solid #1E2939;
	border-radius: 0px;
	padding: 38px 30px 45px;
}
.blog-back-button {
    padding: 0px 0px !important;
    max-width: 930px;
    margin: 0 auto;
}
.full-container-blog .blog-featured-image {
	padding:0px !importan;
    margin: 0 0 30px 0;
	padding:0px !important;
}
.full-container-blog {
    max-width: 960px;
    margin: 0 auto;
	padding:48px 30px;
}
.full-container-blog .blog-meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px 20px 0px;
    flex-wrap: wrap;
    gap: 16px;
}
.full-container-blog .blog-header {
    padding: 12px 0 0 0;
}
.full-container-blog .blog-content {
    padding: 0px 0px;
    color: #d1d5db;
    line-height: 1.8;
}
.full-container-blog .blog-featured-image{
	position:relative;
}
.full-container-blog .blog-featured-image img{
	height:100%;
	width:100%;
}
.full-container-blog .blog-featured-image:after{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	bottom:0;
	background: linear-gradient(0deg, #030712 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}
.blog-details-article {
    background-color: transparent !important;
    color: #ffffff;
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-height:auto;
}
.meta-category, .meta-date, .meta-type, .meta-author {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #99A1AF !important;
    font-size: 14px !important;
    font-weight: 400;
}

/*new gallery start*/
.image-gallery-box img.swiper-slide-image {
    width: 100% ;
	height:197px;
	object-fit:cover;
}
.image-gallery-box .swiper-pagination {
    position: absolute;
    bottom: 35px !important;
}
.bottom-bar-thum-box{
    background: linear-gradient(270deg,rgba(41,42,42,.62) 4%,#000 97%);
}
.swiper-pagination-bullet-active {
    transform: scale(1.4) !important;
    background-color: #fffc;
}
.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background-color: #ffffff !important;
}
/*new gallery end*/
.play-button-text a:after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width:101px;
    height: 100%;
    background-color: #ffb80c;
    content: "";
}
.play-button-text a {
   width: 80px;
    line-height: 20px;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg width="16" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M11.853 0H16v26H0L11.853 0z" fill="rgb(255, 184, 12)" fill-rule="evenodd"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0;
    text-indent: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #000!important;
	background-color: transparent !important;
	text-decoration:none !important;
}
.gallery-section-box h3.elementor-heading-title{
	    font-size: 16px !important;
}
header .container {
    max-width: 1400px;
    display: flex;
    align-items: center;
}
.head-right-button {
    max-width: 400px;
    width: 100%;
}
.head-right-button {
    max-width: 400px;
    width: 100%;
}
.head-right-button ul{
	margin: 8px 0 0 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 0 6px;
}
.head-right-button ul li{
	list-style-type:none;
}
.head-right-button ul li a{
	list-style-type:none;
	background-color: #e83523;
    background-image: linear-gradient(-180deg, #f72424, #bb1c00);
 	padding: 5px 10px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px;
	font-size:12px;
}

.head-right-button ul li.login-btn a span {
    margin-right: 5px;
}

.menu-wrap .full-wrap {
    display: flex;
    justify-content: space-between;
}
.menu-wrap .full-wrap ul{
	display:flex;
	margin:0;
	padding:0;
}
.menu-wrap .full-wrap ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	color: #fff;
	font-size:12px;
	border-right: 1px solid #383838;
}
.menu-wrap .full-wrap ul li a{
	color: #fff;
    padding: 0 10px;
	font-size:12px;
	font-weight:700;
	position:relative;
	text-decoration: none;
	display: block;
}
.menu-wrap .full-wrap ul li a:hover{
	background-color: #383838;
}
.tag-live {
    position: absolute;
    top: -8px;
    right: 3px;
    min-width: 33px;
    height: 12px;
    border-radius: 3px;
    padding-right: 3px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    background-image: linear-gradient(180deg,#fb3434,#e80505);
    box-shadow: 0 1px 3px 0 #00000080;
	    display: flex;
}

.tag-live strong {
    flex: 1;
    height: 100%;
    margin-right: 3px;
    padding: 0 2px;
    border-radius: 3px 0 0 3px;
    background-image: linear-gradient(180deg,#fff,#eee 89%);
}
.tag-live strong:before {
	content:'';
    width: 14px;
    height: 8px;
    background: url('data:image/svg+xml,<svg width="14" height="8" xmlns="http://www.w3.org/2000/svg"><g fill="rgb(255,0,0)" fill-rule="evenodd"><path d="M12.012 0l-.698.727c1.734 1.808 1.734 4.738 0 6.546l.698.727c2.117-2.207 2.117-5.79 0-8zM10.3 1.714l-.7.735c.967 1.014.967 2.66 0 3.673l.7.735c1.352-1.418 1.352-3.721 0-5.143zM1.588 0l.698.727c-1.734 1.808-1.734 4.738 0 6.546L1.588 8c-2.117-2.207-2.117-5.79 0-8zM3.3 1.714l.7.735c-.967 1.014-.967 2.66 0 3.673l-.7.735c-1.352-1.418-1.352-3.721 0-5.143z"/><circle cx="6.8" cy="4.4" r="1.6"/></g></svg>') no-repeat;
    background-size: contain;
	display:block;
   margin-left: 2px;
    margin-top: 1px;
}
.on_live .live_icon span:before,.tag-live strong:before {
    animation: twinkling 1.4s ease infinite
}
.account-wrap .account, .account-wrap .account.select, .col-edit img, .language, .live-menu img, .login-wrap li.user, .menu .bet-game:after, .menu .casino:after, .menu .tag-new:before, .one_click img, .one_click.select img, .setting-wrap .bet-game:after, .setting-wrap .casino:after, .setting-wrap .tag-new:before, .top-sprite {
    background-image: url(../img/top-s17ac08be72.webp)!important;
    background-repeat: no-repeat;
}
.menu .bet-game, .menu .casino, .setting-wrap .bet-game, .setting-wrap .casino {
    position: relative;
    background-image: linear-gradient(#4b4b4b,#1e1e1e);
}
.one_click:before {
    margin-right: 5px;
    vertical-align: top;
    background-position: -94px -4390px;
    height: 30px;
    width: 16px;
}
.setting{
    display: flex;
    align-items: center;
    gap: 0 6px;
}
.time_zone,
.time_zone span {
    color: #fff9 !important;
    font-weight: 400;
}
.menu .tag-new:before, .setting-wrap .tag-new:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-position: 100% -6813px;
    height: 29px;
    width: 29px;
}
.menu .bet-game:after, .menu .casino:after, .setting-wrap .bet-game:after, .setting-wrap .casino:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-position: 100% -6795px;
}
.number-content-box a{
	text-decoration:underline !important;
}
.number-content-box a:nth-child(2n) {
    padding: 0 8px;
	margin-left:8px;
    border-left: 1px solid #0003;
    border-right:0px solid #0003;
}
.policy-link {
    max-width: 620px;
    padding-top:0px;
    margin: 0px auto 0px;
    border-top: 1px solid #0000004d;
	display: flex;
}
.policy-link a {
    color: #0009;
    text-decoration: underline;
}
.policy-link li {
    margin-bottom: 5px;
	list-style-type:none;
}
.policy-link li a{
	font-size:12px;
	text-decoration: underline;
}
.policy-link li:after, 
.policy-link li:first-child:before {
    margin: 0 6px;
    content: "-";
}
@keyframes twinkling {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .3
    }
}


.live-cricket-box {
    width: 120px;
    padding: 6px;
    background:linear-gradient(180deg,#000,#000000b3 82%,#0000)
}

.on_live .live_icon {
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 700;
    background-image: linear-gradient(180deg,#fb3434,#e80505);
    border-radius: 3px;
    margin-bottom: 0;
    display: inline-flex
}

.on_live .live_icon span {
    height: 100%;
    padding: 0 3px;
    margin-right: 5px;
    background-image: linear-gradient(180deg,#fff,#e8e8e8);
    border-radius: 3px 0 0 3px
}

.on_live .live_icon span:before {
    width: 16px;
    height: 10px;
    background: url('data:image/svg+xml,<svg width="14" height="8" xmlns="http://www.w3.org/2000/svg"><g fill="rgb(255,0,0)" fill-rule="evenodd"><path d="M12.012 0l-.698.727c1.734 1.808 1.734 4.738 0 6.546l.698.727c2.117-2.207 2.117-5.79 0-8zM10.3 1.714l-.7.735c.967 1.014.967 2.66 0 3.673l.7.735c1.352-1.418 1.352-3.721 0-5.143zM1.588 0l.698.727c-1.734 1.808-1.734 4.738 0 6.546L1.588 8c-2.117-2.207-2.117-5.79 0-8zM3.3 1.714l.7.735c-.967 1.014-.967 2.66 0 3.673l-.7.735c-1.352-1.418-1.352-3.721 0-5.143z"/><circle cx="6.8" cy="4.4" r="1.6"/></g></svg>') no-repeat;
    background-size: contain;
    content: "";
	display: block;
	margin-top: 3px;
}
.on_live .live_icon span:before,.tag-live strong:before {
    animation: twinkling 1.4s ease infinite
}

@keyframes twinkling {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .3
    }
}

.number-content-box span{
	color: #333;
    background: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    min-width: 16px;
    height: 16px;
}
.icon-hover-box a{
	display:block !important;
}

.number-list-link-box figure.elementor-image-box-img {
    width: 22px !important;
    margin: 0 auto !important;
    height: 22px !important;
}
.number-list-link-box .elementor-image-box-wrapper {
    width: 22px;
    margin-left: auto;
}
.number-list-link-box.facebook-number-content-box .elementor-image-box-wrapper:hover .elementor-image-box-description{
	opacity:100;
}
.number-list-link-box.phone-icon-social .elementor-image-box-wrapper:hover .elementor-image-box-description {
	opacity:100;
	z-index:2!important;
}
.number-list-link-box .elementor-image-box-description{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    padding-left: 39px !important;
    margin-top:10px !important;
    background-color: #fff !important;
    z-index: 1;
    min-width: 259px !important;
    width: 100%;
    text-align: center;
}
.number-list-link-box.phone-icon-social .elementor-image-box-description{
	 opacity:100;

}
.number-list-link-box.facebook-number-content-box .elementor-image-box-description{
	 padding-left:0px!important;
}
.number-list-link-box.facebook-number-content-box .elementor-image-box-description a {
    margin-left: -40px;
}
.number-list-link-box .elementor-image-box-description a{
	font-size:12px;
	color:#000000;
}